
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.header {
  background: linear-gradient(90deg, #672280 0%, #A626D3 100%);
  color: white;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row;
}

.title{
  display: flex;
  flex-flow: row;
  align-items: center;
  margin: 19px auto 19px 20px ;
}

.title img{
  width: 31px;
  height: 26px;
  margin-right: 5px;
}

.header .title h2 {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 21px;
}

.header h4{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin: 25px 37px 25px auto;
}

.input-form{
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-top: 44px;
  

  /* display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-flow: column;
  text-align: center;
  margin: 44px 36px auto 36px;
  width: 477px; */
}

.input-fields{
  
  display: flex;
  justify-content: center;
  flex-flow: row;

}

.input1{
  margin-right: 20px
}

.input1,
.input2 {
  
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  width:220px;
  height: 35px;

  color: #0D0D0D;
  font-family: Karla;
  font-size: 12px;
  font-weight: 400;
  

}



.submit-btn {

  width: 477px;
  height: 40px;
  align-self: center;
  border-radius: 5px;
  border: 0;
  background: linear-gradient(135deg, #711F8D 0%, #A818DA 100%);
  color: white;
  font-family:'Karla', sans-serif;
  font-size: 16px;
  margin-top: 20px;
  

}
