
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.header {
  background: linear-gradient(90deg, #672280 0%, #A626D3 100%);
  color: white;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row;
}

.title{
  display: flex;
  flex-flow: row;
  align-items: center;
}

.title img{
  width: 31px;
  height: 26px;
}

.header .title h1 {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
}

.header h3{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
}